legend 
    {background-color: burlywood;}
label 
    {background-color: antiquewhite;}
#enviar
    {background-color: green;}  
#apagar 
    {background-color: crimson;}
#certeza 
    {background-color: red;}
body 
    {background-color: azure;}


    p {background-color: brown;
    border-radius: 2em; color: antiquewhite;
    border-bottom: 1em; color: aquamarine;}
